<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>
			<div class="text_wrapper">
        		<div class="text-header">
					Thanks for logging In. Please <b> type in your query and talk to customer support </b> or select from certain options.   </div>  
				<ul>
					<li>
					<a href="#" class="bot" data-payload="greeting_show_options">
						<center> Select from options </center>

					</a>
 						
					</li>
				</ul>
			</div>
		</li>