<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>
			<div class="text_wrapper">
        		<div class="text-header">
					You can do following :-  </div>  
				<ul>
				<li>
						<a href="#" class="bot" data-payload="balance">
						<center> Check Balance </center>

					</a>
					</li>
					<li>
					<a href="#" class="bot" data-payload="remittence">
						<center>  Remittance</center>

					</a>
 						
					</li>
					<li>
						<a href="#" class="bot" data-payload="transfer_s1">
						<center> Transfer Money Locally </center>

					</a>
					</li>  
					  
				</ul>
			</div>
		</li>