
<li class="message left appeared">
			<div class="avatar"> <%= image_tag @organisation.avatar.variant(resize: "40x40") %> </div>
			<div class="text_wrapper">
				<div class="text-header">
		

					Did you mean <a href="#" class="spell_check" data-payload="spell_check"> <i><b><%= correct %>?</b></i></a>
        </div>				
			</div>
		</li>

