<div class="col s11 m11">
 <%= render '/intents/partials/form' , intent: @intent , uri: organisation_intent_path(:organisation_id => session[:orga_id]) %>
              </div>
               <script type="text/javascript">
              	var citynames = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: '/users/1/intents',
                filter: function(list) {
                    return $.map(list, function(cityname) {
                        return { name: cityname };
                    });
                }
            }
        });

        citynames.initialize();

        $('#tags').materialtags({
            typeaheadjs: {
                name: 'citynames',
                displayKey: 'name',
                valueKey: 'name',
                source: citynames.ttAdapter()
            }
        });
              </script>