

<div class="row container top-margin-20">
		<div class="col s2 white no-padding">
								<%= render ("/chatbots/partials/side_menu") %>

		</div>
		<div class="col s10 white">
		<div class="right-align">
<br/>
     <%= link_to new_user_intent_path(:user_id => 1) , :class => "waves-effect waves-light btn btn-primary" , :remote => "true" do  %>
     Create Intent 
<i class="material-icons left">add</i>
     <% end %>
 </div>  
 <div id="intents_notice"> </div>
 


<%= render ('/intents/partials/all' )%>



		
		</div>

		
	</div>
	
<script type="text/javascript">
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
     
</script>