<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>

		<div class="text_wrapper">
		        <div class="text-header">

					Vedic Maths Online Course for Competitive Examinations is a preparatory 45 hours course on Mathematics for competitive examinations like UPSC, MBA, MCA, GMAT, GRE, CSAT, Banking etc. The main objective and purpose of this online course is to acquaint the student with various Vedic Maths techniques so that the result is a better percentile!
<br/> <br/> <b> Study Materials: </b> 8 DVD Set + 2 Books on Vedic Maths authored by Gaurav Tekriwal. <br/> <br/>

<b>Class Schedule:</b> Each Class to be of 1 hour duration and you would have to complete the 45 hours in three months’ time. The Online Classes are customized and very flexible to suit your needs.	
<center> <a class="btn" href="http://vedicmathsindia.org/product/online-vedic-maths-course-competitive-exams-like-cat-sat-gmat-banking-ias-etc" target="_blank"> Know More </a> </center>
 </div>
			</div>
			</li>