<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>

		<div class="text_wrapper">
		        <div class="text-header">
Math – the subject name strikes a not so pleasant chord in us whenever we hear it. It takes us back years straight in our classroom and shows us our struggle with the subject. We have been so much in struggle with Math that we secretly wished if there was a way around it. We wished if someone could hold our hand and guide us smoothly, without getting lost in the horrid corridors of Mathematics.

<br/> <br/> The course : Math from Grade III to Grade VIII covers :-  <br/> 
					 <br/> 
Pre-Algebra <br/>
Algebra <br/>
Geometry <br/>
Algebra II <br/>
Pre-Calculus <br/>
Calculus <br/>
A.P.Statistics <br/> 
<br/> <br/> 
Know more at: <a href="http://vedicmathsindia.org/product/regular-monthly-math-online-tutoring-grades-3-to-12" target="_blank"> http://vedicmathsindia.org/product/regular-monthly-math-online-tutoring-grades-3-to-12 </a>
 </div>
			</div>
			</li>