<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>

		<div class="text_wrapper">
		        <div class="text-header">
Math – the subject name strikes a not so pleasant chord in us whenever we hear it. It takes us back years straight in our classroom and shows us our struggle with the subject. Vedic Maths India brings you an amazing curriculum in maths, that holds your hand and guides you  through your struggle.  <br/>	

<br/> <b> The course covers :- </b> 
					 <br/> 
Pre-Algebra <br/>
Algebra <br/>
Geometry <br/>
Algebra II <br/>
Pre-Calculus <br/>
Calculus <br/>
A.P.Statistics <br/>   
<center> <a class="btn" href="http://vedicmathsindia.org/product/regular-monthly-math-online-tutoring-grades-3-to-12" target="_blank"> Know More </a> </center>
 </div>
			</div>
			</li>