<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>
			<div class="text_wrapper">
        		<div class="text-header">
					Hi, My name is Shree, I love helping visitors with their queries on Vedic Maths? </div>  
				<ul>
					<li>
					<a href="#" class="bot" data-payload="what-is-Vedic-Maths?">
						<center> What is Vedic Maths? </center>

					</a>
 						
					</li>
					<li>
						<a href="#" class="bot" data-payload="learn-Vedic-Maths">
						<center> Learn Vedic Maths </center>

					</a>
					</li>  
					<li>
						<a href="#" class="bot" data-payload="franchise">
						<center> Franchise </center>

					</a>
					</li>  
				</ul>
			</div>
		</li>