<li class="message left appeared">
  					
	<div class="avatar"> <%= image_tag "shree.png" %> </div>
			<div class="text_wrapper">
        		<div class="text-header">
					Hi, My name is Chatur, I love helping visitors with their queries on ChaturBots? </div>  
				<ul>
					<li>
					<a href="#" class="bot" data-payload="wivm">
						<center> What is ChaturBots? </center>

					</a>
 						
					</li>
					<li>
						<a href="#" class="bot" data-payload="lvm">
						<center> Talk to a person </center>

					</a>
					</li>  
					
				

				</ul>
			</div>
		</li>