<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>
			<div class="text_wrapper">
        		<div class="text-header">
					Hi, I am DCB Bot, I love helping visitors with their queries on DCB Bank? </div>  
				<ul>
					<li>
					<a href="#" class="bot" data-payload="ecl">
						<center> Exisiting Customer - Login </center>

					</a>
 						
					</li>
					<li>
						<a href="#" class="bot" data-payload="kmadp">
						<center> Know more about DCB products </center>

					</a>
					</li>  
					
				</ul>
			</div>
		</li>