<li class="message left appeared">
  		 	<div class="avatar"> <%= image_tag "shree.png" %> </div>
			<div class="text_wrapper">
        		<div class="text-header">
				Q:	Learn Vedic Maths </div>  
				<ul>
					<li>
					<a href="#" class="bot" data-payload="dvd">
						<center> DVDs  </center>

					</a>
 						
					</li>
					<li>
						<a href="#" class="bot" data-payload="loc">
						<center> Live Online Courses </center>

					</a>
					</li>  
					<li>
						<a href="#" class="bot" data-payload="books">
						<center> Books </center>

					</a>
					</li> 
					<li>
						<a href="#" class="bot" data-payload="app">
						<center> App </center>

					</a>
					</li>  
				</ul>
			</div>
		</li>