<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>
			<div class="text_wrapper">
        		<div class="text-header">
				Q:	What is Vedic Maths? </div>  
				<ul>
					<li>
					<a href="#" class="bot" data-payload="what-is-Vedic-Maths?">
						<center> TED Video on Vedic Maths  </center>

					</a>
 						
					</li>
					<li>
						<a href="#" class="bot" data-payload="learn-Vedic-Maths">
						<center> Father of Vedic Maths </center>

					</a>
					</li>  
					<li>
						<a href="#" class="bot" data-payload="franchise">
						<center> History of Vedic Maths </center>

					</a>
					</li> 
					<li>
						<a href="#" class="bot" data-payload="franchise">
						<center> Vedic Maths India Blog </center>

					</a>
					</li>
					<li>
						<a href="#" class="bot" data-payload="franchise">
						<center> About Vedic Maths Forum India </center>

					</a>
					</li>   
				</ul>
			</div>
		</li>