<li class="message left appeared">
  			<div class="avatar"> <%= image_tag @organisation.avatar_icon.url(:small) %> </div>
			<div class="text_wrapper">
        		<div class="text-header">
				Q:	What is Vedic Maths? </div>  
				<ul>
					<li>
					<a href="#" class="bot" data-payload="tvovm">
						<center> TED Video on Vedic Maths  </center>

					</a>
 						
					</li>
					<li>
						<a href="#" class="bot" data-payload="fovm">
						<center> Father of Vedic Maths </center>

					</a>
					</li>  
					<li>
						<a href="#" class="bot" data-payload="hovm">
						<center> History of Vedic Maths </center>

					</a>
					</li> 
					<li>
						<a href="#" class="bot" data-payload="vmib">
						<center> Vedic Maths India Blog </center>

					</a>
					</li>
					<li>
						<a href="#" class="bot" data-payload="avmfi">
						<center> About Vedic Maths Forum India </center>

					</a>
					</li>   
				</ul>
			</div>
		</li>