<style type="text/css">
	body {background-image: url('https://openclipart.org/image/2400px/svg_to_png/263304/Checkered.png');

}

</style>

<ul class="messages" >
<%= render :partial => 'bots/vedicmaths/initial_message' %>

<%= render :partial => 'messages/message' , collection: @messages %>
</ul>
<div class="input_message">
<input type="text" id="event"  name="chat_box" data-behavior="chatbot_call">
</div>
