

<div id="zipi-chatbox">
<div>
<div id="chatflow" class=" ">
<div class="header">
<div class="cross" onclick="zipitoggleChat()">
	
</div>
</div>
<div class="frameparent" style="overflow: hidden;"><iframe src="http://http://139.59.63.120/users/1/bot/redirect"></iframe>
</div>
</div>
<div id="floatbutton" onclick="zipitoggleChat()">
<div class="opened  "></div>
<div class="closed  "></div>
</div>
</div>
</div>