<!-- /bot/preview -->

<div id="zipi-chatbox">

<div>
<div  id="chatflow" class=" ">

<div class="frameparent" style="overflow: hidden; !important"><iframe allowtransparency="true" class="main_chat" src="/organisations/19/bot/redirect" style="overflow: hidden; !important"></iframe>
</div>
</div>

<div class="popup_wrapper" id="popup_wrapper">
       <iframe class="iframe_popups" allowtransparency="true" src="/organisations/19/bot/redirect?popup=true"></iframe>
</div>
<div id="floatbutton" onclick="zipitoggleChat();">


<div class="opened  ">
   <!-- <div class="popup_visitor" id="popup_visitor">
     

  <i id="number" class="btn-floating btn-small waves-effect waves-light red"><center>1</center></i>
    </div> -->
</div>
<div class="closed  ">
  

</div>
</div>
</div>
</div>
