<li class="message left appeared">
  <div class="avatar"> <%= image_tag "shree.png" %> </div>
                <div class="text_wrapper">
                    <div class="text-header">
                   Successfully sent the money.  <span id="from-fx">Vaibhav Maheshwari 
</span> - <span id="to-fx"> Ajay NS
</span></div>
                    <ul>
                       <li id="fx_value"><center> <b>200 INR</b></center></li> 
                    </ul>
                </div>
            </li>