<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Message From Website</h1>
    <p>

    
      <%= @body_details %>
    </p>
  </body>
</html>