<li class="message left appeared">
  			<div class="avatar"> <%= image_tag @organisation.avatar.variant(resize: "40x40") %> </div>

		<div class="text_wrapper">
		        <div class="text-header">

					The mission of the Vedic Maths Forum India is to make students love maths.Through its innovative teaching approach the Vedic Maths Forum (India) has trained and reached over 4 million students in over ten countries who continue to take advantage of this amazing system.

 </div>
			</div>
			</li>