<li class="message left appeared">
  			<div class="avatar"> <%= image_tag @organisation.avatar.variant(resize: "40x40") %> </div>

		<div class="text_wrapper">
		        <div class="text-header">

					Bharati Krishna Teerthaji got his revelations from a particular portion of the Atharvaveda called the Ganita Sutras. The Ganita Sutras are also called Sulba Sutras, "the easy mathematical formulae", that's the meaning of the expression. Now these texts were in Sanskrit and the grammar, the literature and the figures of speech in Sanskrit give great facility of expressing one's dispositions in a number of different subjects but with the same set of words. Hence it becomes difficult for a person to understand the different layers of meanings encoded in one text.
 </div>
			</div>
			</li>