<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>

		<div style="width: 275px !important" class="text_wrapper">
		        <div class="text-header">
At TEDYouth 2012, to ooh's and aah's from the amazed crowd, Gaurav Tekriwal demonstrates the magic of Vedic math. <br/>
					<iframe width="250" height="250" src="https://www.youtube.com/embed/grkWGeqW99c" frameborder="0" allowfullscreen></iframe> </div>
			</div>
			</li>