<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>
			<div class="text_wrapper">
        		<div class="text-header">
        			Account No. : 00000020309326741 <br/>
					Account Balance : 89,000 USD    </div>  
				<ul>
				<li>
				Last Transactions <br/> 
				To: Abhishek Tiwari <br/> Amount: 80,000 USD 
					</li>  
					  
				</ul>
			</div>
		</li>