<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>

		<div class="text_wrapper">
        <div class="text-header">
		<form class="col s12" method="post">        

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='email' name='email' id='email' />
                <label for='email'>Enter your email</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' name='password' id='password' />
                <label for='password'>Enter your password</label>
              </div>
              <label style='float: right;'>
								<a class='pink-text' href='#!'><b>Forgot Password?</b></a>
							</label>
            </div>

            <center>
              <div class='row'>
                <a  name='btn_login' class='col s12 bot btn btn-large waves-effect'  data-payload="greeting_after_login">Login</a>
              </div>
            </center>
          </form></div>
		</div>
		</li>
	