 <li class="message left appeared">
  <div class="avatar"> <%= image_tag "shree.png" %> </div>
                <div class="text_wrapper">
                    <div class="text-header">Select sending & Receiving countries</div>

                    <ul>
                        <li>

                            <div class="to_from">From</div>
                          
                        <label for="country_1" ></label>

                             <%= select_tag "from_curr" , options_for_select([["US Dollar (USD)", "USD"], ["Australian Dollar (AUD)", "AUD"] , ["Hong Kong Dollar (HKD)" , "HKD"] , ["Singapore Dollar (SD)" , "SD"]])   %>  


                            <div class="to_from">To</div>
                           <label for="country_2"></label>
                             
<%= select_tag "country" , options_for_select([["Select Currency" , "INR"],["US Dollar (USD)", "USD"], ["Australian Dollar (AUD)", "AUD"] , ["Hong Kong Dollar (HKD)" , "HKD"] , ["Singapore Dollar (SD)" , "SD"] , ["Bangladeshi Taka (BT)" , "BDT"] , ["Euro (EUR)" , "EUR"] , ["British Pound (GBP)" , "GBP"] , ["Hong Kong Dollar (HKD)" , "HKD"] , ["IndianEsian Rupiah (IDR)" , "IDR"] , ["Indian Ruppee (INR)" , "INR"] , ["SriLankan Ruppee (LKR)" , "LKR"] , ["Malaysian Ringgit (MYR)" , "MYR"] , ["Nepalese Ruppee (NPR)" , "NPR"] , ["Philleppine Pese (PHP)" , "PHP"] , ["Thai Bhat (THB)" , "THB"] , ["Vietnamese Dong (VND)", "VND"]])  %>
                            
                        </li>


                        <li> <center>
                <%= button_tag(:type => "submit" , :class => "btn")  do %>
                Rate
                 </center>
                       </li>
                    </ul>
                    <% end %>
                </div>
            </li>









<div id="showrate">
</div>

