	<!-- /bot/show -->


	<div class="row container top-margin-20">
			<div class="col s3 white no-padding top-margin-20">
					<div class="collection">
							<%= link_to "Intent Mapping" , bot_intent_mapping_user_path(:user_id => 1), :class => "collection-item" %>
							<%= link_to "Automation Reports", bot_reports_user_path(:user_id => 1) , :class => "collection-item"  %>
							<%= link_to "Preview Chatbot", bot_preview_user_path(:user_id => 1) , :class => "collection-item"  %>
							<%= link_to "Contact Support", home_contact_us_path(:user_id => 1) , :class => "collection-item"  %>
				  </div>	
			</div>
		</div>
		
		