

<div class="span10 offset1 panel">
<div id="messages"> 
<%= render :partial => 'messages/message' , collection: @messages %>
</div>
 <h3> Welcome Education-Tomorrow Chatbot </h3>
<input type="text" id="event" name="chat_box" data-behavior="chatbot_call">
</div>