<li class="message left appeared">
  			<div class="avatar"> <%= image_tag @organisation.avatar_icon.url(:small) %> </div>

		<div class="text_wrapper">
		        <div class="text-header">
The Vedic Maths India App teaches you the system on the go! You can watch tutorials, practice step by step to learn the technique and solve without using pen and paper to improve speed. Earn badges to celebrate your progress.Available for Android and iOS. 

<center> <a class="btn" href="http://www.vedicmathsapp.com/" target="_blank"> Know More </a> </center>
</div>
			</div>
			</li>