<li class="message left appeared">
  			<div class="avatar"> <%= image_tag @organisation.avatar.variant(resize: "40x40") %> </div>

		<div class="text_wrapper">
		        <div class="text-header">

		       <iframe src="https://player.vimeo.com/video/140404685" width="200" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
<br/> Based on the sixteen sutras, vedic maths is practically the only magical principle you need to tackle anything from simple arithmetic to algebra, algorithms, square roots, cube roots, trigonometry and many more mathematical concepts. <br/>
		       <center> <img style="width: 150px; height: 150px;" src="https://www.dropbox.com/s/dxsebiyvmvrq9t9/image.jpg?raw=1"></center>
					<center> <a class="btn" href="http://www.mathssutra.com/" target="_blank"> Know More </a> </center> </div>
			</div>
			</li>