<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>

		<div  class="text_wrapper">
		        <div class="text-header">

					<b> Complete High Speed Vedic Mathematics
8 DVD Set by Gaurav Tekriwal</b> <br/>  <br/> 

<i> Can you multiply 998 times 997 in 5 seconds? </i> <br/> <br/>  You can know more at <a href="http://vedicmathsindia.org/dvds" target="_blank"> http://vedicmathsindia.org/dvds </a> and order a set of DVDs from,  <br/> <center><a class="btn" href="http://vedicmathsindia.org/product/complete-high-speed-vedic-mathematics-8-dvd-set" target="_blank">  buy DVDs   </a>  </center>  </div>
			</div>
			</li>