<li class="message left appeared">
  			<div class="avatar"> <%= image_tag @organisation.avatar.variant(resize: "40x40") %> </div>

		<div class="text_wrapper">
		        <div class="text-header">

					So we put together this 12 Hour online course only for parents where we guide parents on how to teach their kids with Vedic Mathematics. We teach them the importance of storytelling and games while teaching abstract math concepts at the same time. We cover Addition, Subtraction, Multiplications, Divisions, Fractions and Decimals in a fun of way.




<br/> <br/> <b> Course Duration and Schedule: </b>  Each Class to be of 1 hour duration and you would have to complete the 12 Hours in two months’ time duration.
<center> <a class="btn" href="http://vedicmathsindia.org/product/introductory-online-vedic-maths-course-parents" target="_blank"> Know More </a> </center>
 </div>
			</div>
			</li>