
<div class="panel white" style="border-radius: 25px; margin-left: 20%;margin-right: 20%; margin-top: 1%; ">
              <div class="row">

        <h4>About ChaturBots-</h4>
                <hr>
                At ChaturBots, we provide you with end to end chatbot functionality. From creating great UI/UX experience to NLP engine! ChaturBots has you covered. <br/><br/>

                We are just an email away, vaibhav@chaturbots.com


                <div class="col s6 col offset-s1">
                    <div class="team-member">
                      <%= image_tag("Vaibhav_Maheshwari.jpg" ,:height => 230 , :width => 230 , :class => 'img-circle') %>
                        <h4>Vaibhav Maheshwari </h4>
                        <p class="lead">founder and web-developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://www.twitter.com/vaibhavgeek" target="_blank">Twitter</a>
                            </li>
                            <li><a href="http://www.facebook.com/vaibhavgeek" target="_blank">Facebook</a>
                            </li>
                            <li><a href="http://www.vaibhavgeek.blogspot.com" target="_blank">Blog</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                </div>
                </div>