<div class="col-md-8 col-md-offset-2">
<h1 class="h-after-diagonal" class="lead">Blog</h1>
<div class="embed-responsive">
<iframe class="embed-responsive-item" frameborder="0" style="width: 100%; height: 500px;"  src="https://edunova-io.blogspot.com/"></iframe>
</div>
</div>
