<div class="panel white" style="border-radius: 25px; margin: 30px">
<div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">live_help
</i></h1>
            <h5 id="features" class="center scrollspy">Live Chat</h5>
            <p class="center light"> We allow customer support agents to talk to talk to the visitors on the website and increase the sales lead. 
            </p>
          </div>
        </div>
 <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">question_answer</i></h1>
            <h5 class="center">Machine Comprehension</h5>
            <p class="light center">  We scrap data from your site and enable people to ask questions based on that. This enables your content to be more interactive with your audience.  </p>
          </div>
        </div>
        
        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">spellcheck</i></h1>
            <h5 class="center">Custom Spell Checker</h5>
            <p class="light center"> A custom dictionary of words is mined from the website to create a spell checker. It would help correct the spelling mistakes of the visitors.  </p>
          </div>
        </div>
</div>
<div class="row">
       
        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">build</i></h1>
            <h5 class="center">Previous Chats Automation</h5>
            <p class="light center"> We use machine learning alogrithms to make our chatbot intelligent. The machine learning is applied to highly tagged data, thus increasing our productivity. 
            </p>
          </div>
        </div>


        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">web
</i></h1>
            <h5 class="center">Reports</h5>
            <p class="light center">We provide you with automation reports and insights into what your customers are looking for.</p>
          </div>
        </div>

         <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">developer_mode
</i></h1>
            <h5 class="center">Custom API</h5>
            <p class="light center">Do you need an API to be integrated with your already existing solution? Or do you want your existing APIs to work with our services? Do not worry we have you covered</p>
          </div>
        </div>

         

</div>
<div class="row">
       
        <div class="col s12 m6">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">video_library
</i></h1>
            <h5 class="center">Rich Content of any type</h5>
            <p class="light center"> You can upload images, videos and PDFs and deliver content of any type to your audience through chatbots.  
            </p>
          </div>
        </div>


      

         <div class="col s12 m6">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">wb_incandescent
</i></h1>
            <h5 class="center">Smart Suggestions</h5>
            <p class="light center">
              We also provide smart suggestions to customer queries, which helps them understand your services better.
            </p>
          </div>
        </div>

         



      </div></div>