<h1>Welcome to Chaturbots</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div id="messages">
<%= render @messages %>
</div>

<input type="text" id="event" name="chat_box" data-behavior="chatbot_call">