<% if user_signed_in? %>
<div class="col-md-3">
<div class="list-group" id="panel-show-active-members">
<% Visitor.all.each do |visitor| %>
<% if visitor.online? %>
 
<%= link_to visitor.id , new_user_chat_path(:user_id => 1 , :auth_token => visitor.auth_token) , :class => "list-group-item" , :id => visitor.id , :remote => "true" %>
 
     

<% end %>
<% end %>
</div>

</div>
<div id="display_chats" class="col-md-9">
	
</div>
</div>
<% else %>
<%= render ("/home/partials/home") %>

<% end %>



