
<% if user_signed_in? %>
<div class="row container">

    <div class="col s2">
      <div class="white" id="panel-show-active-members">
        <% Visitor.all.each do |visitor| %>
          <% if visitor.online? %>

            <div id="<%= visitor.id %>" class="visitor-container">
              <%= link_to new_user_chat_path(:user_id => 1 , :auth_token => visitor.auth_token) , :class => "list-group-item" , :remote => "true", :onclick => 'nameclick("'+visitor.auth_token+'")' , :"data-auth_t" => visitor.auth_token do %>
    <img src="https://maps.googleapis.com/maps/api/staticmap?size=200x200&markers=color:red%7CMumbai+India&center=Mumbai,India&zoom=5&maptype=roadmap&key=AIzaSyD3ZYIdavY-Ikz1vktl8LzIKumE9BVbU-g" alt="" class="circle responsive-img not_selected"> 
              <% end %>
              <span class="hidden">
                 <%= visitor.auth_token %>
              </span>
            </div>

            <% end %>
        <% end %>
      </div>
    </div>


    <div class="col s10 card no-padding">
      
  <nav class="z-depth-0">
      <div class="nav-wrapper">
        <span>header</span>
          <ul class="right">
            <li>
                <div class="switch">
                    <label>
                      ML
                      <input type="checkbox" id="ml_check">
                      <span class="lever"></span>
                    </label>
                  </div>
            </li>
          </ul>
           
      </div>
    </nav>
      <div class="white" id="display_chats"></div>
    </div>

</div>

<% else %>
<%= render ("/home/partials/home") %>
  <% end %>

<script>
  $("#ml_check").change(function(){
    console.log(ml_check.checked);
  });
</script>