<% if user_signed_in? %>
<div class="col-md-3">
<div class="list-group">
  <a href="#" class="list-group-item disabled">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
</div>
<div class="col-md-9">
	<div id="messages">
	<%= render @messages %>
	<input type="text" id="event" name="chat_box" data-behavior="chatbot_call">
</div>
</div>
<% else %>
<%= render ("/home/partials/home") %>

<% end %>



