<div class="row">

<div class="col s12 m6 offset-m3 panel  white" style="border-radius: 25px;margin-top: 20px;">

            <h4 class="center-align">Pricing Method</h4>

<hr/>
<h5 class="left-align">&#9673; Setup Fee (One Time Fee) :</h5>
<p class="lead" style="font-size: 14px;">
We charge clients one time fee based on the complexity to build the chatbot. These charges are <b>not</b> recurring and needs to be paid only once. They vary depending on the amount of customization you want for your bot and what it can achieve.</p>

<br/><br/>
<h5 class="left-align">&#9673; Monthly Fee :</h5>
<p class="lead" style="font-size: 14px;">
Monthly fee will be calculated as shown below, </p>
 <center><table class="responsive-table highlight">
        <thead>
          <tr>
              <th>Feature Name</th>
              <th>Feature Price</th>
              <th>Feature Name</th>
               <th>Feature Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Live Chat Automation</td>
            <td>$7.00</td>
            <td>Machine Comprehension</td>
            <td>$35.00</td>
          </tr>
          <tr>
            <td>Server Deployment and Updation</td>
            <td>$50.00</td>
            <td>Content > 200 MB</td>
            <td>$15.00</td>
          </tr>
        </tbody>
      </table></center>
</div>	
</div>