 <script type="text/javascript">
       $(document).ready(function() {
      $(".switch").find("#ai_check").on("change",function() {
        if($(this).is(":checked").toString() == "true")
        {
          curr = "INR";
         
        }
        else {
          curr = "USD";

        }
        if(curr == "INR") 
        {
         $.ajax({
        url: "http://free.currencyconverterapi.com/api/v5/convert?q=USD_INR&compact=y",
        cache: false,
        type: "get",
        success: function(html){
            rate = parseInt(html["USD_INR"]["val"]) * 9;
            $("#rate").html(rate + " INR");

         }});
       }
       else
       {
        rate = "9";
        $("#rate").html(rate + " USD");
       }





      });
    });
      </script>

<div class="particles-container no-spacing">
<div id="particles-js" style="height: 700px;"></div>
</div>

<div class="login-parent">
<div class="login-main-form">




            <h4 class="center-align">Pricing Method</h4>

<hr/>
<div class="switch right-align">
                    <label class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Change to INR">
                      USD
                      <input type="checkbox" id="ai_check">
                    <span class="lever"></span>
                    INR

                      
                    </label>
                  </div> <center>
<h1 class="flow-text"> <span id="rate"> 9 USD </span> / month 
</h1> (billed monthly)</center>
<br/>
<center>
        <%= link_to "Privacy Statement" , home_privacy_path %> &nbsp;&nbsp;&nbsp;
          <%= link_to "Terms of Services" , home_terms_of_service_path %> &nbsp;&nbsp;&nbsp;
          <%= link_to "Refund Policy" , home_refund_path %>
          </center>
<!-- h5 class="left-align">&#9673; Setup Fee (One Time Fee) :</h5>
<p class="lead" style="font-size: 14px;">
We charge clients one time fee based on the complexity to build the chatbot. These charges are <b>not</b> recurring and needs to be paid only once. They vary depending on the amount of customization you want for your bot and what it can achieve.</p>

<br/><br/>
<h5 class="left-align">&#9673; Monthly Fee :</h5>
<p class="lead" style="font-size: 14px;">
Monthly fee will be calculated as shown below, </p>
 <center><table class="responsive-table highlight">
        <thead>
          <tr>
              <th>Feature Name</th>
              <th>Feature Price</th>
              <th>Feature Name</th>
               <th>Feature Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Live Chat Automation</td>
            <td>$7.00</td>
            <td>Machine Comprehension</td>
            <td>$35.00</td>
          </tr>
          <tr>
            <td>Server Deployment and Updation</td>
            <td>$50.00</td>
            <td>Content > 200 MB</td>
            <td>$15.00</td>
          </tr>
        </tbody>
      </table></center> -->
</div>	
</div>

