
<div class="particles-container no-spacing">
<div id="particles-js" style="height: 700px;"></div>
</div>


<script type="text/javascript">
					  $(document).ready(function(){
    $('select').formSelect();
  });
    
				</script>

<div class="panel login-parent">
<div class="request-main-form-big" style="overflow-y: auto;">

    <div id="error_explanation" class="white red darken-4 damp-color center" >
</div>

<% if flash[:notice] %>
    <div id="notice" class="white yellow darken-4 damp-color center" >
    <p class="lead"> <%= flash[:notice] %> </p>
    </div>

<% end %>
<div class="container">
    <div class="row">
        <div class="col m10 offset-m1 s12">

            <div class="row">

<div id="contents">
<p class="c8"><span class="c3">Refund Policy</span><span class="c2 c1"><br><br></span></p>

<p class="c0">
<span class="c2 c3">No Refund No Return Policy</span></p>

<p class="c0"><span class="c2 c1"> 
    We offer free trial to our users for 15 days. You can cancel your subscription anytime you want. For monthly plans, the Service is billed in advance on a monthly basis respectively and is non-refundable. There will be no refunds or credits for partial months of service, downgrade refunds, or refunds for months unused with an open Account; however, the service will remain active for the length of the paid billing period.

</span></p>


<p class="c0">
<span class="c2 c3">Cancellation of Service</span></p>

<p class="c0"><span class="c2 c1"> 
    We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements, but barring legal requirements, we will delete your full profile and the Content of your chatbot within 30 days of cancellation or termination (though some information may remain in encrypted backups). This information can not be recovered once your Account is cancelled.

</span></p>





</div>
            </div>
        </div>
    </div>
</div>
</div>

  



				

