<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>

		<div class="text_wrapper">
		        <div class="text-header">

					The teacher’s masterclass is designed to cover the complete Vedic mathematics and also new research in the field so that you as able to teach others and pass on the teachings as it is. As part of this Masterclass you will all be getting DVDs and Books as part of the study materials designed by Gaurav Tekriwal. This masterclass certification will definitely increase the chances of your employment as a Math Teacher in various schools and colleges.




<br/> <br/> <b> Eligibility: </b>  21 years or more at the time of enrollment. <br/> <br/>

<b>Class Schedule:</b>  You would have to complete the 40 hours in less than three months.	
<center> <a class="btn" href="http://vedicmathsindia.org/product/master-class-on-vedic-maths-for-teachers" target="_blank"> Know More </a> </center>
 </div>
			</div>
			</li>