<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>

		<div class="text_wrapper">
		        <div class="text-header">

					In this course you will be trained for 40 hours which will include practice and speed building sessions and mock classes as well. You will be provided with the complete study materials too including 8 DVDs + 3 Books and countless worksheets for your reference.


<br/> <br/> <b> Eligibility: </b>  21 years or more at the time of enrollment. <br/> <br/>

<b>Class Schedule:</b>  You would have to complete the 40 hours in less than three months.	
<center> <a class="btn" href="http://vedicmathsindia.org/product/online-certified-teachers-training-course-vedic-maths" target="_blank"> Know More </a> </center>
 </div>
			</div>
			</li>