

<div class="row container top-margin-20">
		<div class="col s2 white no-padding">
				<%= render 'sidebar' %>
		</div>
		<div class="col s10 white">
	<h1>Settings#payment</h1>
<p>Find me in app/views/settings/payment.html.erb</p>

		
	</div>
</div>
