

<div class="row container top-margin-20">
		<div class="col s2 white no-padding">
				<%= render 'sidebar' %>
		</div>
		<div class="col s6 white">
	<h4> Create Theme</h4>
	<hr/>

		
	</div>

	<div class="col s4 white">
	<h4> Visualize Guide </h4>
	<hr/>
	</div>

</div>
