

<div class="row container top-margin-20">
		<div class="col s2 white no-padding">
				<div class="collection">
       <% Visitor.all.each do |visitor| %>
	
		<div id="<%= visitor.id %>">
			<%= link_to user_chat_path(:user_id => 1 , :id => visitor.id) , :class => "collection-item" , :remote => "true" do %>

			<%= visitor.id %>

			<% end %>

<span class="hidden"><%= visitor.auth_token %></span>
</div>

<% end %>
			  </div>	
		</div>
		<div class="col s10 white">
		<h4> <center> Chat Archives </center></h4>

		<div id="display_chats">
	
</div>

		
	</div>
</div>





