
		<li class="message left appeared">
  					
	<div class="avatar"> <%= image_tag "shree.png" %> </div>
			<div class="text_wrapper">
        		<div class="text-header">
						Welcome to the chaturbots. 	You can type in your query or chose from following options.</div>  
				<ul>
					<li>
					<a href="#" class="bot" data-payload="wic">
						<center> What is ChaturBots? </center>

					</a>
 						
					</li>
					<li>
						<a href="#" class="bot" data-payload="ttoa">
						<center> Talk to a person </center>

					</a>
					</li>  
					
				

				</ul>
			</div>
		</li>