<ul class="messages_admin messages" id="messages<%= auth %>">
		<%= render :partial => 'bots/default_initial' , :locals => { admin: true} %>

	<%= render @messages %>

<li class="message right appeared">
				<div class="text_wrapper">
					<div class="text">
						<div class="fb-chat--bubbles">
    <span></span>
    <span></span>
    <span></span>
  </div><!--fb-chat-bubbles-->
					</div>

				</div>
			</li>
  
			
</ul>

	<input type="text" class="form-control input" id="event" name="chat_box" data-behavior="chatbot_call" data-auth="<%= auth %>" placeholder="Type your input here">	
