 
 <div class="particles-container">
    <div id="particles-js"></div>
    <div class="container">
      <br><br>
      <h1 class="header center">Automate Customer Support</h1>
      <div class="row center">
        <h5 class="header col s12 light">We create automated chat support along with interactive tools for live chat using AI</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light red">Request a Demo</a>
      </div>
      <br><br>
    </div>
    <div class="diagonal-effect"></div>

  </div>


  <div  class="container padding-vertical-3 " >
    <div class="section padding-vertical-3">
      <div class="row">
        <h3 id="features" class="sub-head scrollspy">FEATURES</h3>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">live_help
</i></h1>
            <h5 class="center">Live Chat</h5>
            <p class="center light"> We allow customer support agents to talk to talk to the visitors on the website and increase the sales lead. 
            </p>
          </div>
        </div>
 <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">question_answer</i></h1>
            <h5 class="center">Automated Q/A</h5>
            <p class="light center"> We use tagged live chat to automate conversations. As we get more training data, higher percentage of automation would occur. </p>
          </div>
        </div>
        
        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">spellcheck</i></h1>
            <h5 class="center">Custom Spell Checker</h5>
            <p class="light center"> A custom dictionary of words is mined from the website to create a spell checker. It would help correct the spelling mistakes of the visitors.  </p>
          </div>
        </div>
</div>
<div class="row">
       
        <div class="col s12 m6">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">build</i></h1>
            <h5 class="center">Machine Learning</h5>
            <p class="light center"> We use machine learning alogrithms to make our chatbot intelligent. The machine learning is applied to highly tagged data, thus increasing our productivity. 
            </p>
          </div>
        </div>


        <div class="col s12 m6">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">web
</i></h1>
            <h5 class="center">Custom Templates</h5>
            <p class="light center">We allow videos, files, images and custom integration with an API to build the chatbot. This high level customization allows you to make a great experience for your users. </p>
          </div>
        </div>

         



      </div>

    </div>
  </div>

  <div id="how-it-works" class="scrollspy">

    <div class="carousel carousel-slider center" data-indicators="true">

      <div class="carousel-fixed-item center">
        <a class="btn waves-effect red">Try It Out</a>
      </div>
      <div class="carousel-item blue white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
        <%= image_tag "body_bg.png" , :class => "carousel-img" %>
      </div>
      <div class="carousel-item blue white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
        <%= image_tag "body_bg.png" , :class => "carousel-img" %>
      </div>
      <div class="carousel-item blue white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
        <%= image_tag "body_bg.png" , :class => "carousel-img" %>
      </div>
    </div>
  </div>

  <div class="grey lighten-3 padding-vertical-3">
    <div class="container">
      <div class="section padding-vertical-3">
        <div class="row">
          <h3 class="sub-head">
            Hear what people say
          </h3>
        </div>
        <div class="row padding-vertical-1">
          <div class="col s12 m5">
            <em class="flow-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." <br> - Ajay NS</em>
          </div>
          <div class="col s12 m5 offset-m2">
            <em class="flow-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." <br> - Ajay NS</em>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5 class="white-text">Company</h5>
          <p class="grey-text text-lighten-4">We provide interative tools and chat bot services to automate the contact and support of your service. We're just
            a bunch of college students working overtime to make this project happen, any support will be appreciated.</p>
        </div>
        <div class="col l2 s12 offset-l1">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        (c) 2017 <a class="indigo-text text-lighten-3" href="#">Chaturbot</a>
      </div>
    </div>
  </footer>
<script type="text/javascript">
  (function($){
  $(function(){

    $('.button-collapse').sideNav();
    $('.parallax').parallax();
    $('.carousel.carousel-slider').carousel({fullWidth: true});
    
    setInterval(function() {
      $('.carousel.carousel-slider').carousel('next');
    }, 6000);
  }); // end of document ready
})(jQuery); // end of jQuery name space

particlesJS.load('particles-js', '<%= asset_path("particle.json") %>', function() {
  console.log('callback - particles.js config loaded');
});

 $(document).ready(function(){
    $('.scrollspy').scrollSpy();
  });

</script>