@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html,body 
 { 
 	height: 100%; 
 	margin: 0px; 
 	padding: 0px; 
 }
body
{
	overflow-x:hidden;
    background-color:#f2f2f2;

}
.embed-responsive
{
  z-index:9999;
  overflow:visible;
}
.chevron-wrapper
{
  padding:9px;
  background-color:white;
  position:absolute;
  bottom:4%;
  left:49%;
  border-color: #000046;
   border-style: solid;
    border-width: 2px;
  border-radius: 55px;
  z-index:9999;
      cursor: pointer;

}

.chevron-wrapper i
{
  color:#000046 !important;
}
 #particles-js
 {
	background: #9f2804;
    background: -webkit-gradient(left top,right bottom,color-stop(0,#9f2804),color-stop(100%,#1CB5E0));
    
        background: linear-gradient(135deg,#000046,#1CB5E0);
    position: relative;
    overflow:hidden;

 }
 .jumbotron
 {
  padding-top:20px;
  padding-bottom:40px;
 }
 .header
 {
  position: absolute;
  top: 1%;
  left: 2%;
  margin-right: 20px;
  color: white;
  z-index:9999; 
  width:95%;
  height:70px !important;
}

.nav li.active a , .nav li a:focus
{
	color: #fff;
	background-color: transparent;
}
.nav li.active a:hover
{
			background-color: transparent;
			color:white;
}

.nav li a
{
	font-size: 17px!important;
    text-transform: uppercase!important;
    font-family:robotoregular !important;
    color: #ecf0f1;
    margin-left:20px;

}
.nav li a:hover
{
	background-color: transparent;
	color:white;

}
h1.top
{
	position: absolute;
  	top: 33%;
  	left: 33%;
  		color: white;
  z-index:9999; 
   font-weight: 900;
	font-family: "Nawabiat" !important;
  font-size: 53px;
}
p.top
{
  position: absolute;
    top: 44%;
    left: 23%;
      color: white;
  z-index:9999; 
   font-weight: 900;
  font-family: "Nawabiat" !important;
  font-size: 23px;
}
.btn-demo
{
 position: absolute;
    top: 50%;
    left: 43%;
      color: white;
  z-index:9999; 
   font-weight: 900;
  font-family: "purisa" !important; 
  font-size: 22px;
  color: black;
}
.icon
{
	color:white;
	font-size: 35px!important;
}
.diagonal-effect {
    width: 120%;
    height: 200px;
     background-color:#f2f2f2;
    position: absolute;
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
    bottom: -166px;
    left: -44px;
}
.h-after-diagonal
{
  position:relative;
  z-index:9999;
  font-size: 35px;
  color: #000046;
}
.back-color
{
  background-color:#f2f2f2;
}
@font-face {
  font-family: 'Nawabiat';
  src:url('Nawabiat.ttf') format('truetype');
  
}
.feature-icon
{
  font-size: 12em;
  margin-right:30px;
}









