@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize";
@import "style";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

select {
  display: block !important;
}

body {
  background: lightgrey;
}

$blue: #00356B;
$dingy: #495B6A;
$white: #ffffff;
$purple: #673AB7;
$yellow: #FFEB3B;
$red: #F44336;
$orange: #FF5722;
$black: #333333;
* {
  margin: 0;
  padding: 0;
}

.tree {
  width: 180%;
}

.tree_scroller {
  overflow-x: scroll;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
}

.tree ul {
  padding-top: 20px;
  position: relative;
  -transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  -transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}


/*We will use ::before and ::after to draw the connectors*/

.tree li::before,
.tree li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}

.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}


/*We need to remove left-right connectors from elements without 
any siblings*/

.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}


/*Remove space from the top of single children*/

.tree li:only-child {
  padding-top: 0;
}


/*Remove left connector from first child and 
right connector from last child*/

.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}


/*Adding back the vertical connector to the last nodes*/

.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}


/*Time to add downward connectors from parents*/

.tree ul ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}

.tree li a {
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}


/*Time for some hover effects*/


/*We will apply the hover effect the the lineage of the element also*/

.tree li a:hover,
.tree li a:hover+ul li a {
  background: #c8e4f8;
  color: #000;
  border: 1px solid #94a0b4;
}


/*Connector styles on hover*/

.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
  border-color: #94a0b4;
}


/*Message styles*/

.messages {
  top: 0px;
  height: 92% !important;
  position: absolute;
  list-style: none;
  padding: 5px 5px 0 5px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: transparent;
  bottom: 25px;
  width: 100%;
}

#display_chats .messages {
  margin-top: 64px;
  height: 92% !important;
}

.timestamp {
  color: gray;
  width: 100%;
  display: inline-block;
  font-size: 10px;
}

.input_message {
  bottom: 2px;
  position: fixed;
  height: 40px;
  width: 100%;
}
  
.input_message input {
  border: none !important;
  box-shadow: none !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
}

.messages .message {
  clear: both;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  padding-left: 5px;
  position: relative;
}

.messages .message .text_wrapper {
  position: relative;
}

.messages .message .text_wrapper::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}

.messages .message.left .text_wrapper::before {
  border-width: 0 10px 10px 0;
  border-color: transparent #f1f0f0 transparent transparent;
  position: absolute;
  top: 0;
  left: -9px;
}

.messages .message.right .text_wrapper::before {
  border-width: 10px 10px 0 0;
  border-color: $blue transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -9px;
}

.avatar {
  img {
    width: 40px;
  }
}

.messages .message.left .avatar {
  background-color: transparent;
  float: left;
}

.messages .message.left .text_wrapper {
  background: #f1f0f0;
  margin-left: 48px;
  padding: 8px;
  @extend .z-depth-1;
}

.messages .message.left .text_wrapper ul {
  list-style-type: none;
  padding: 0;
}

.messages .message.left .text_wrapper ul li {
  width: 100%;
  border: 1px solid #f1f0f0;
  border-top: none;
  text-align: left;
  color: #52a8dd;
  font-size: 16px;
  padding: 10px 19px;
}

.messages .message.left .text_wrapper .b-list li {
  text-align: left;
  color: #595959;
  font-size: 18px;
}

.messages .message.left .text_wrapper ul li:last-child {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.messages .message.left .text {
  color: #c48843;
}

.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}

.messages .message.right .text_wrapper {
  background-color: $blue;
  margin-right: 8px;
  float: right;
  width: 80%;
  min-width: 160px;
  text-align: right;
  @extend .z-depth-1;
}

.messages .message.right .avatar {
  background-color: transparent;
  float: right;
  border-radius: 20px;
  min-width: 180px;
}

.messages {
  .right {
    .avatar {
      img {
        width: 36px;
      }
    }
  }
}

.messages .message.right .text {
  color: #fff;
  padding: 9px 25px;
  font-size: 14px;
  text-align: right;
}

.messages .message.appeared {
  opacity: 1;
}

.messages .message.right {
  display: inline-block;
  float: right;
}

.messages .message .avatar {
  width: 46px;
  border-radius: 50%;
  display: inline-block;
}

.messages .message .text_wrapper .text-header {
  width: 225px !important;
  background: #f1f0f0;
  font-size: 15px;
  border-radius: 8px 25px;
  padding: 4px;
  text-align: left;
}

.messages .message .text_wrapper .no-ul {
  border-radius: 36px;
}

.messages .message .text_wrapper .b-bank,
.b-id {
  display: inline;
}

.messages .message .text_wrapper .b-bank img,
.b-id img {
  padding-right: 1px;
  width: 13px;
}

.messages .message .text_wrapper .b-bank img {
  position: relative;
  top: -3px;
  width: 16px;
}

.messages .message .text_wrapper .b-id {
  padding-left: 22px;
}

.messages .message .text_wrapper .b-bank,
.b-id span {
  font-size: 12px;
  border: none;
  padding-left: 3px;
}

body.zipiopen>* {
  display: none !important;
}

body.zipiopen>#zipi-chatbox {
  display: block !important;
}

#zipi-chatbox {
  position: fixed;
  right: 30px;
  bottom: 35px !important;
  overflow: visible;
  z-index: 2147483647;
  visibility: visible;
}

#zipi-chatbox #floatbutton .opened {
  transition: all 0.5s linear;
  width: 100%;
  height: 100%;
  background-image: image-url("material_chat.png");
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  position: absolute;
  background-color: $black;
  opacity: 1;
  @extend .z-depth-2;
}

#zipi-chatbox #floatbutton .opened.rotate {
  -webkit-transform: rotate(45deg) scale(0);
  -ms-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
  opacity: 0;  
}

#zipi-chatbox #floatbutton .closed {
  position: absolute;
  transition: all 0.5s linear;
  width: 100%;
  height: 100%;
  background-image: image-url("material_close.png");
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transform: rotate(30deg) scale(0);
  -ms-transform: rotate(30deg) scale(0);
  transform: rotate(30deg) scale(0);
  opacity: 0;
  background-color: $black;
  @extend .z-depth-2;
}


#zipi-chatbox #floatbutton .closed.rotate {
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
}

#zipi-chatbox .chatframe .header .cross {
  float: right;
  color: #FFF !important;
  font-size: 18px;
  padding: 10px;
  display: none;
}

#zipi-chatbox .chatframe .header .header_title {
  font-family: Arial;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

#zipi-chatbox .chatframe .header .header_subtitle {
  font-size: 12px;
  font-weight: 400;
  color: #90ee90;
  display: inline-block;
  position: absolute;
  top: 19px;
  width: 10px;
  left: 10px;
  height: 10px;
  border-radius: 50%;
  background: #90ee90;
}

#zipi-chatbox .chatframe .frameparent {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  background: none !important;
}

#zipi-chatbox .chatframe .frameparent iframe {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
  border: none;
  position: static;
}

#zipi-chatbox #chatflow .frameparent iframe {
  border: none;
  position: static;
}

@media only screen and (min-device-width: 568px) {
  #zipi-chatbox {
    top: 30px;
  }
  #zipi-chatbox>div {
    position: relative;
    height: 100%;
  }
  #zipi-chatbox #floatbutton {
    position: absolute;
    bottom: 0px;
    width: 50px;
    height: 50px;
    right: 0px;
    opacity: 1;
    z-index: 2147483645;
  }
  #zipi-chatbox #chatflow {
    //transition: all 0.3s ease-in;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: 60px;
    right: 0px;
    background-color: #FFF;
    opacity: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  #zipi-chatbox .chatframe {
    max-height: 550px !important;
    height: 90% !important;
    min-height: 300px;
    width: 370px !important;
    opacity: 1 !important;
  }
  #zipi-chatbox .chatframe .header {
    border-radius: 10px 10px 0px 0px;
  }
}

@media only screen and (max-device-width: 568px) {
  #zipi-chatbox #floatbutton {
    position: absolute;
    bottom: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 0px;
    opacity: 1;
    z-index: 2147483645;
  }
  #zipi-chatbox #chatflow {
    //transition: all 0.3s linear;
    position: fixed;
    top: 0px;
    height: 100%;
    right: 0px;
    height: 0px;
    width: 0px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px #333;
    opacity: 1;
    overflow: hidden;
    border-radius: 0px !important;
    z-index: 2147483646;
    -webkit-backface-visibility: hidden;
    /* Chrome, Safari, Opera */
    backface-visibility: hidden;
  }
  #zipi-chatbox .chatframe {
    height: 100% !important;
    width: 100% !important;
    opacity: 1 !important;
  }
  #zipi-chatbox .chatframe .header .cross {
    float: right;
    margin-top: 18px;
    margin-right: 18px;
    display: block;
    background-image: image-url("material_close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
  }
}

#display_chats {
  height: 85vh;
}

#panel-visitors {
  border-radius: 2px 0px 0px 2px !important;
}

.visitor-container {
  padding: 5px;
  padding-right: 10px;
}

.input_message {
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.12), 0 -3px 1px -2px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: $white;
}

.chatbot_preview {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: $black;
}

#display_chats .input {
  border: none;
  box-shadow: none;
  padding-left: 2em;
  padding-right: 2em;
  width: 91%;
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.12), 0 -3px 1px -2px rgba(0, 0, 0, 0.1);
 }

#display_chats .messages {
  position: static !important;
}

#display_chats .text_wrapper {
  display: grid;
}

.chips input {
  box-shadow: none !important;
}

// .chips.focus, .chips {
//   border-bottom: 1px solid #00356B !important;
//   box-shadow: 0 1px 0 0 #00356B !important;
// }

.chips.focus, .chips {
  .focus{
    border-bottom: none !important;
    box-shadow: none !important;
  }  
  .input::placeholder {
    color: black;
  }
  .selected {
    background-color: $blue !important;
  }
}

.message{
  .text_wrapper {
    .btn {
      background-color: $blue;
    }
    .input-field label {
      color: $blue;
    }

    .input-field input:focus + label {
      color: $blue !important;
    }

    .input-field input:focus {
      border-bottom: 1px solid $blue !important;
      box-shadow: 0 1px 0 0 $blue !important;
    }

    .input-field .prefix.active {
      color: $blue !important;
    }
  }
}

.blue {
  background-color: $blue !important;
}


.collection .collection-item{
  color: $blue !important;
}


.login-form {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 480px;
  padding: 2em;
  @extend .card;

  .input-field label {
    color: $blue;
  }

  .input-field input:focus + label {
    color: $blue !important;
  }

  .input-field input:focus {
    border-bottom: 1px solid $blue !important;
    box-shadow: 0 1px 0 0 $blue !important;
  }

  .input-field .prefix.active {
    color: $blue !important;
  }
}

.btn.btn-primary {
  background-color: $blue !important;
}