.messages {
  top: 0px;
  height: 92% !important;
  position: absolute;
  list-style: none;
  padding: 5px 5px 0 5px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: transparent;
  bottom: 25px;
  width: 100%;
}

.display_chats .messages {
  margin-top: 64px;
  height: 92% !important;
}

.timestamp {
  color: gray;
  width: 100%;
  display: inline-block;
  font-size: 10px;
}

.input_message {
  bottom: 2px;
  position: fixed;
  height: 40px;
}
  
.input_message input {
  border: none !important;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
  width: 80% !important;
}
.input_message i {
top: 8px;
position:relative;
}

.messages .message {
  clear: both;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  padding-left: 5px;
  position: relative;
}

.messages .full_width {
   width: 100%;
    clear: both;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  padding-left: 5px;
  position: relative;
  z-index:900;
  margin:auto; 
    height:auto; 
    overflow:hidden;
}

.messages .message .text_wrapper {
  position: relative;
}

.messages .message .text_wrapper::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}

.messages .message.left .text_wrapper::before {
  border-width: 0 10px 10px 0;
  border-color: transparent #f1f0f0 transparent transparent;
  position: absolute;
  top: 0;
  left: -9px;
}

.messages .message.right .text_wrapper::before {
  border-width: 10px 10px 0 0;
  border-color: $blue transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -9px;
}

.avatar {
  img {
    width: 40px;
  }
}

.messages .message.left .avatar {
  background-color: transparent;
  float: left;
}

.messages .message.left .text_wrapper {
  background: #f1f0f0;
  margin-left: 48px;
  padding: 8px;
  @extend .z-depth-1;
}

.messages .message.left .text_wrapper ul {
  list-style-type: none;
  padding: 0;
}

.messages .message.left .text_wrapper ul li {
  width: 100%;
  border: 1px solid #f1f0f0;
  border-top: none;
  text-align: left;
  color: #52a8dd;
  font-size: 16px;
  padding: 10px 19px;
}

.messages .message.left .text_wrapper .b-list li {
  text-align: left;
  color: #595959;
  font-size: 18px;
}

.messages .message.left .text_wrapper ul li:last-child {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.messages .message.left .text {
  color: #c48843;
}

.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}

.messages .message.right .text_wrapper {
  background-color: $blue;
  margin-right: 8px;
  float: right;
  width: 80%;
  min-width: 160px;
  text-align: right;
  @extend .z-depth-1;
}

.messages .message.right .avatar {
  background-color: transparent;
  float: right;
  border-radius: 20px;
  min-width: 180px;
}

.messages {
  .right {
    .avatar {
      img {
        width: 36px;
      }
    }
  }
}

.messages .message.right .text {
  color: #fff;
  padding: 9px 25px;
  font-size: 14px;
  text-align: right;
}

.messages .message.appeared {
  opacity: 1;
}

.messages .message.right {
  display: inline-block;
  float: right;
}

.messages .message .avatar {
  width: 46px;
  border-radius: 50%;
  display: inline-block;
}

.messages .message .text_wrapper .text-header {
  width: 225px !important;
  background: #f1f0f0;
  font-size: 15px;
  border-radius: 8px 25px;
  padding: 4px;
  text-align: left;
}

.messages .message .text_wrapper .no-ul {
  border-radius: 36px;
}

.messages .message .text_wrapper .b-bank,
.b-id {
  display: inline;
}

.messages .message .text_wrapper .b-bank img,
.b-id img {
  padding-right: 1px;
  width: 13px;
}

.messages .message .text_wrapper .b-bank img {
  position: relative;
  top: -3px;
  width: 16px;
}

.messages .message .text_wrapper .b-id {
  padding-left: 22px;
}

.messages .message .text_wrapper .b-bank,
.b-id span {
  font-size: 12px;
  border: none;
  padding-left: 3px;
}