 body.home
    {
        background-color: #00356B;
    }
    
.c3 {
    font-weight: 700;
    font-family: "Arial";
}

.c2 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-style: normal;
}
.c8 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center;
}
.fb-chat--bubbles {
  text-align: left;
}
.fb-chat--bubbles span {
  display: inline-block;
  background-color: #B6B5BA;
  width: 15px;
  height: 10px;
  border-radius: 100%;
  margin-right: 5px;
  animation: bob 2s infinite;
}
.fb-chat--bubbles span:nth-child(1) {
  animation-delay: -1s;
}
.fb-chat--bubbles span:nth-child(2) {
  animation-delay: -0.85s;
}
.fb-chat--bubbles span:nth-child(3) {
  animation-delay: -0.7s;
  margin-right: 0;
}

@keyframes bob {
  10% {
    transform: translateY(-10px);
    background-color: #9E9DA2;
  }
  50% {
    transform: translateY(0);
    background-color: #B6B5BA;
  }
}



.overflow_vis
{
  max-height: 650px;
  overflow-y: auto;
  overflow-x: hidden;
}

.relative_badge
{
 position:relative;
  bottom:30px;
  left: -25px;
  overflow-x: hidden;
  background-color:red;
  border-radius:29px !important;
  color:white !important;

}
.relative_badge_cover
{
 
  width:0px;
  height:0px;
}

.panel p.light
{
  font-size: 16px !important;
}


label
{
 font-weight:bold !important; 
  font-size:15px;
}

div.col.s10 {
  margin-left: 20px;  
}

@media only screen and (min-width: 992px) and (max-width: 993px) {
.diagonal-effect {
   display: absolute;
   width: 118%;
   height: 110px;
   background-color: lightgrey;
   position: absolute;
   -webkit-transform: rotate(5deg);
   transform: rotate(5deg);
   bottom: -32px;
   left: -58px;
 }
 .diagonal-effect .button-bottom {
  position:relative;
  top: -35px;
  right: 40px;
 }
}
.diagonal-effect .button-bottom {
  position:relative;
  top: -30px;
  right: 3px;
  }
span.badge.new {
    color: #00356B;
    background-color: #fff;
}
.blue-text 
{
  color:#00356B !important;
}
.font-13 {
  font-size: 13px;
}

.btn-primary-inverse {
  background-color: #fff;
  color: #00356B;
  font-weight: bold;
  font-size:15px;
}
.primary-text {
  color: #00356B !important;
}
.btn-primary-inverse i {
    color: #00356B;

}

.btn-primary-inverse:hover {
  background-color:#00356B;
  color:white;
}

.no-link {
    color:inherit;
    pointer-events:cursor;
    float: left;
  margin-right: 20px;
  padding: 12px 16px;
  user-select: text;
  width:250px;
  opacity:0.7;
  background-codialor: rgba(51, 51, 51, 0.7);

}

.no-link:hover {
  opacity:2.0;
  background-color: rgba(51, 51, 51, 2.0);

}

body 
{
        overflow-x: hidden;
}
/*  Homepage styles */
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940); 


.form_table input {
  margin: 0px !important;
}
.bot_template {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
   
}
.bot_cover {
   overflow: hidden;
    position: relative;
    width: 100%;
}
.disablediv {
   background-color: lightgrey !important;
   opacity: 0.7;
    width: 100%;
    z-index:20;
    overflow:auto;

}

.clickable {
   cursor: pointer;
   width: 100%;
   background-color:#F48024;
}
.disablediv .text_wrapper {
   background-color: lightgrey !important;
   opacity: 0.4;
    pointer-events: none;
    
   
}

.tabs .tab a {
    color: #00356B;

}

.prime-color {
      color: #00356B;

}

.damp-color {
    color: white;
}

.tabs .indicator {
    background-color: #00356B;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #00356B;
}
.card .card-content, .card-content {
   padding:6px;
}
 nav ul a,
 nav .brand-logo,
 .button-collapse {
   color: white;
 }

 nav {
   background-color: #00356B;
   position: absolute;
   top: 0;
   z-index: 99;
 }

 nav>.nav-wrapper {
   margin: 0 auto;
   max-width: 90%;
 }

 nav>.nav-wrapper li {
   text-transform: uppercase;
 }

 p {
   line-height: 2rem;
 }

 .sub-head {
   text-align: center;
   text-transform: uppercase;
   font-size: 1.75rem;
   font-weight: bold;
 }

 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255, 255, 255, .9);
 }

 .parallax-container .section {
   width: 100%;
 }

 @media only screen and (max-width: 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }

 @media only screen and (max-width: 600px) {
   #index-banner .section {
     top: 0;
   }
 }

 .icon-block {
   padding: 0 15px;
 }

 .icon-block .material-icons {
   font-size: inherit;
 }

 footer.page-footer {
   margin: 0;
   background-color: #00356B;
 }

 canvas {
   display: block;
 }

 .carousel {
   max-height: 600px;
 }

 .carousel .carousel-item.blue {
   background-color: #00356B !important;
 }

 .padding-vertical-3 {
   padding-bottom: 3em;
   padding-top: 3em;
 }

 .padding-vertical-1 {
   padding-bottom: 1em;
   padding-top: 1em;
 }

 .padding-3 {
   padding: 3em;
 }

 #particles-js {
   width: 100%;
   height: 560px;
   background: #00356B;
 }

 .particles-container {
   display: block;
   height: 100%;
   width: 100%;
   z-index: 0;
 }

 .particles-container .container {
   position: absolute;
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%);
   color: white;
 }

 #particles-js {
   width: 100%;
   height: 560px;
   background: #00356B;
 }

 .particles-container {
   display: block;
   height: 100%;
   width: 100%;
   z-index: 0;
 }

 .particles-container .container {
   position: absolute;
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%);
   color: white;
 }

 
 .sub-head.features 
 {
    padding-top:3px;

 }
 

 .carousel-img {
   max-width: 880px;
  
 }

 .top-margin-20 {
   margin-top: 20px;
 }

 .top-padding-10 {
   padding: 10px 10px 10px 10px;
 }

 .left-margin-20 {
   margin-left: 20px;
 }

 /*  /bot/show/ styles */

 img.not_selected {
   margin: 10px;
   border: dashed;
   opacity: 0.75;
 }

 img.selected_chat {
   margin: 10px;
   border: solid;
   opacity: 1.0;
 }

 .sidepanel li {
   font-family: Century Gothic, sans-serif;
   font-size: 18px !important;
   text-decoration: none;
   font-weight: 300;
   -moz-transition: all 0.3s ease-in 0s;
   -webkit-transition: all 0.3s ease-in 0s;
   transition: all 0.3s ease-in 0s;
   margin-bottom: 5px !important;
   height: 25px;
   display: block;
   color: #37496b;
   background-color: #efeff1;
   border-left-width: 5px;
   border-left-style: solid;
   border-left-color: #993333;
 }

 .sidepanel li a {
   display: block;
   font-family: Century Gothic, sans-serif;
   color: #37496b;
   padding-left: 11px;
 }

 .sidepanel li a:hover {
   color: #efeff1;
   background-color: #37496b;
   padding-left: 11px;
   color: #fff;
   display: block;
 }

 .white {
   background-color: #fff !important;
   border-radius: 8px;
   box-sizing: border-box;
 }

 .node {
   max-width: 80px !important;
 }

 .hidden {
   display: none;
 }


 .dialogue-controller {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 100;
}

.dialogue {
  background-color: rgba(51, 51, 51, 0.7);
  color: #EEE;
  margin-bottom: 8px;
  font-size: 0.85rem;
  border-radius: 1px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow: hidden;
  min-width: 300px;
  user-select: none;
  opacity: 0.7;
  

  
  &:last-child {
    margin-bottom: 0px;
  }
}

.dialogue.fresh {
  transform: translateX(-600px);
  animation:
    itemEnter 0.15s 0.15s $easeOutQuad forwards,
    itemHighlight 0.75s 0.1s $easeOutQuad forwards;
}

.dialogue.stale {
  opacity: 0.7;
  animation: itemExit 0.1s 0.15s $easeOutQuad backwards;
}

.dialogue > .message {
  float: left;
  
  user-select: text;
}

.dialogue > .close {
  float: right;
  padding: 12px 16px;
  opacity: 0.7;
  
  cursor: pointer;
  
  &:hover {
    opacity: 1;
  }
}

.dialogue.template {
  display: none;
}

@keyframes itemHighlight {
  5%, 60% { background: #e67e22; }
  100% { background:#333; }
}

@keyframes itemEnter {
  to { 
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes itemExit {
  to {
    transform: translateX(-600px);
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

* {
  box-sizing:border-box;
  outline:0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size:13px;
}

ul.navigation_chats {
list-style-type:none;
margin:10px;
padding:0;
width: 100%;
}

ul.navigation_chats li>a {
  display:table;
  padding: 5px;
  width:100%;
}

ul.navigation_chats li>a:hover{
background-color:#555;
color:white;
}


.nav a, .nav li {  
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.nav a {color:#333; text-decoration:none;}
li {list-style-type: none;}
.nav nav {
  width: 190px !important;
  height: auto;
  float:left;
  position:relative;
  background:#fff;
  margin:0 auto;
  padding: 10px 0;
  color: #333;
  margin-bottom:20px;
  line-height:45px;
  border-radius:5px;
  box-shadow: -2px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.nav nav ul li {
  position:relative;
  padding: 0 20px;
    width: 195px !important;
}
.nav nav ul li:hover {
  background: #grey;
  color: black !important;
  border-left: 10px solid grey;
}

.nav nav ul li:hover a {
  color: black !important;
}

.nav nav ul li.active {
   background: #00356B;
  color: white !important;
  border-left: 10px solid grey;

}

.nav nav ul li.active a{
   
  color: white !important;
  
}


.nav nav ul li.active:before {
  content: '';
  border-color: transparent #fff transparent transparent ;
  right: 0;
  border-width:20px;
  position: absolute;
  border-style: solid;
  top: 5px;
}
h5 {
  font-size:18px;
  text-align:center;
}