 nav ul a,
 nav .brand-logo,
 .button-collapse {
   color: white;
 }

 nav {
   background-color: #00356B;
   position: absolute;
   top: 0;
   z-index: 99;

 }

 nav>.nav-wrapper {
   margin: 0 auto;
   max-width: 90%;
 }

 nav>.nav-wrapper li {
   text-transform: uppercase;
 }

 p {
   line-height: 2rem;
 }

 .sub-head {
   text-align: center;
   text-transform: uppercase;
   font-size: 1.75rem;
   font-weight: bold;

 }

 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255, 255, 255, .9);
 }

 .parallax-container .section {
   width: 100%;
 }

 @media only screen and (max-width: 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }

 @media only screen and (max-width: 600px) {
   #index-banner .section {
     top: 0;
   }
 }

 .icon-block {
   padding: 0 15px;
 }

 .icon-block .material-icons {
   font-size: inherit;
 }

 footer.page-footer {
   margin: 0;
   background-color: #003561;
 }

 canvas {
   display: block;
 }

 .carousel {
   max-height: 600px;
 }

 .carousel .carousel-item.blue {
  background-color: #00356B !important;
 }

 .padding-vertical-3 {
   padding-bottom: 3em;
   padding-top: 3em;
 }

 .padding-vertical-1 {
   padding-bottom: 1em;
   padding-top: 1em;
 }

 .padding-3 {
   padding: 3em;
 }

 #particles-js {
   width: 100%;
   height: 560px;
   background: #00356B;
 }

 .particles-container {
   display: block;
   height: 100%;
   width: 100%;
   z-index: 0;
 }

 .particles-container .container {
   position: absolute;
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%);
   color: white;
 }

 #particles-js {
   width: 100%;
   height: 560px;
   background: #00356B;
 }

 .particles-container {
   display: block;
   height: 100%;
   width: 100%;
   z-index: 0;
 }

 .particles-container .container {
   position: absolute;
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%);
   color: white;
 }

 .diagonal-effect {
   display: none;
   width: 120%;
   height: 100px;
   background-color: #f2f2f2;
   position: absolute;
   -webkit-transform: rotate(6deg);
   transform: rotate(6deg);
   bottom: -16px;
   left: -44px;
 }

 .carousel-img {
   max-width: 280px;
 }
 
.top-margin-20 {
   margin-top: 20px;
}
.top-padding-10 {
   padding: 10px 10px 10px 10px;
}
.left-margin-20 {
   margin-left: 20px;
}
img  {
   margin:10px;
   border:dashed;
   opacity:0.75;
}

img.selected_chat {
   margin:10px;
   border:solid;
   opacity:1.0;
}
 .sidepanel li {
    font-family: Century Gothic, sans-serif;
   font-size: 18px !important;
   text-decoration:none;
   
   font-weight:300;
   -moz-transition: all 0.3s ease-in 0s;
      -webkit-transition: all 0.3s ease-in 0s;
      transition: all 0.3s ease-in 0s;
   
   

margin-bottom:5px !important;
 height:25px;

display: block;


 color: #37496b;
    background-color: #efeff1;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #993333;


 }
 .sidepanel li a {
    display: block;
    font-family: Century Gothic, sans-serif;
    color: #37496b;
    padding-left: 11px;

 }

 .sidepanel li a:hover {
  color: #efeff1;
 background-color:#37496b;

padding-left: 11px; 
color: #fff;
display: block;
 }
 .white {
   background-color: #fff !important;
   border-radius: 8px;
   box-sizing: border-box;

 }
 body
{
    background-image: image-url("background2.jpg");
     
}