<li class="message left appeared">
  			<div class="avatar"> <%= image_tag @organisation.avatar.variant(resize: "40x40") %> </div>

		<div class="text_wrapper">
		        <div class="text-header">
 Payment has been successfully completed. Please check your mail for the VedicMaths Videos. <br/> In case of queries, please reach out to gktekriwal@gmail.com


</div>
			</div>
			</li>