<li class="message left appeared">
  			<div class="avatar"> <%= image_tag @organisation.avatar.variant(resize: "40x40") %> </div>
			<div class="text_wrapper">
        		<div class="text-header">
				Q:	Vedic Maths for Students </div>  
				<ul>
					<li>
					<a href="#" class="bot" data-payload="vmfsg">
						<center>Vedic Maths for Students in Grade 3rd-10th  </center>

					</a>
 						
					</li>
					<li>
						<a href="#" class="bot" data-payload="vmfce">
						<center>Vedic Maths for Competitive Exams</center>

					</a>
					</li>  
					
					
					  
				</ul>
			</div>
		</li>