<ul class="messages" id="messages">
	<%= render @messages %>
	<% if @messages.count == 0 %>
	

        <div class="alert alert-warning">
	 <center> There are no messages to display right now. </center>
 </div>

	<% end %>

	</ul>