<div class="chatbot_preview"><!-- chatbox content -->
	<ul class="messages">
		<% if @messages.first != nil %>
			<span class="timestamp">
				<center><%= @messages.first.created_at.to_time.to_s(:short) %> </center>
			</span>		 
		<% else %>
			<span class="timestamp"> 
				<center> <%= Time.now.utc.to_time.to_s(:short) %> </center>
			</span>
		<% end %>	
	
	<%= render :partial =>  "bots/" + @initial_message  %>

		<%= render :partial => 'messages/message' , collection: @messages %>
	</ul>

	<div class="input_message"> 
	      <a href="#" class="bot" data-payload="initial_message"><i class="material-icons prefix left-align">refresh</i></a>
          <input id="icon_prefix"  type="text" class="validate" id="event" name="chat_box" data-behavior="chatbot_call">
                    <label for="icon_prefix">Message</label>


	</div>
	</div>