

  <div class="popup_visitor" data-id="<%= params[:auth_token] %>" id="popup_visitor">
  <i id="number" class="popup_number btn-floating btn-small waves-effect waves-light red"><center><%= "1" %></center></i>
</div>

