  <a onclick="zipitoggleChat()" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">chat_bubble</i></a>


<!-- /bot/preview -->

<div id="zipi-chatbox">

<div>
<div id="chatflow" class=" ">

<div class="frameparent" style="overflow: hidden; !important"><iframe allowtransparency="true" src="/organisations/<%= request.params[:id] %>/bot/redirect" style="overflow: hidden; !important"></iframe>
</div>
</div>

<div id="floatbutton" onclick="zipitoggleChat()">

<div class="opened  ">
		<div class="popup_visitor" id="popup_visitor">
		 
		</div>
</div>
<div class="closed  ">
	

</div>
</div>
</div>
</div>
