

<div class="row container top-margin-20">
		<div class="col s2 white no-padding">
				
				<%= render ("/chatbots/partials/side_menu") %>
		</div>
		<div class="col s10 white">
		

<%= pie_chart Message.group(:responder).count %>
<%= line_chart Message.group_by_day(:created_at).count %>

	</div>
</div>