

<div class="row container top-margin-20">
		<div class="col s2 white no-padding">
				
				<%= render ("/chatbots/partials/side_menu") %>
		</div>
		<div class="col s10 white">
		<h5> Visitor's Information </h5>
		<table>
		<tr>
		<td>
		</td>
		<td>
		</td>
		<td>
		</td>
		</tr>
		</table>
		



	</div>
</div>