

<div class="row container top-margin-20">
		<div class="col s2 white no-padding">
				
				<%= render ("/chatbots/partials/side_menu") %>
		</div>
		<div class="col s10 white">
		<span style="font-size: 22px"> Machine Comprehension </span> <br/> <br/>
		<p style="font-size: 20px" class="lead">
We scrap the website for information and the bot uses that specific information to answer questions asked to the chatbot application.
<br/> <br/>
Please enter your website name:  <%= Organisation.find(request.params[:id]).website %> </p>
	</div>
</div>