<!DOCTYPE html>
<html>
  <head>
    <title>Chaturbots</title>
    <%= csrf_meta_tags %>
	<%= action_cable_meta_tag %>



  </head>

  <body>
  hi
  <style type="text/css">
    
   

  </style>
      <%= yield %>

  </body>
  </html>
